@import '../../../common/base';

$class-text-input-wrapper: #{$ns}-text-input-wrapper;
$class-text-input-label: #{$ns}-text-input-label;
$class-text-input-underline: #{$ns}-text-input-underline;
$class-text-input-help-text: #{$ns}-text-input-help-text;

$text-input-animation-duration: .2s;

.#{$class-text-input} {
  border-width: 0 0 1px 0;
  width: 100%;
  border-color: rgba(0, 0, 0, 0.4);
  padding: 8px 0;
  background-color: transparent;
  outline: none;
  order: 1;

  &::placeholder {
    transition: opacity $text-input-animation-duration ease $text-input-animation-duration;
    opacity: 1;
  }
}

.#{$class-text-input-wrapper} {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.#{$class-text-input-label} {
  position: relative;
  opacity: 0;
  order: 0;
  transition:
    top $text-input-animation-duration ease,
    opacity $text-input-animation-duration ease;
  top: 10px;
}

.#{$class-text-input}:focus {
  &::placeholder {
    transition: opacity $text-input-animation-duration ease;
    opacity: 0;
  }
}

.#{$class-text-input}:focus ~ .#{$class-text-input-label} {
  opacity: .5;
  top: 0;
  transition:
    top $text-input-animation-duration ease $text-input-animation-duration,
    opacity $text-input-animation-duration ease $text-input-animation-duration;
}

.#{$class-text-input}:focus ~ .#{$class-text-input-underline},
.#{$class-text-input}:hover ~ .#{$class-text-input-underline} {
  width: 100%;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

.#{$class-text-input-underline} {
  width: 0%;
  height: 2px;
  margin: -2px 0 0 0;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  order: 1;
}

.#{$class-text-input-underline}.#{$ns}-from-center {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

.#{$class-text-input-help-text} {
  margin-top: 2px;
  opacity: .5;
  order: 2;
}
