@import './variables';

/*** General ***/
.#{$ns}-elevated {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
}
.#{$ns}-outlined {
    border: 1px solid #e0e0e0;
}

/*** Component ***/
$class-button: #{$ns}-button;
$class-card: #{$ns}-card;
$class-text-input: #{$ns}-input-text;

